<div class="container-fluid"> <!-- Début - div container -->
<div class="row"> <!-- Début -  Main row -->
  <div class="col-5"> <!-- Début - Bloc I -->

 <!-- <h1 class="my-1">Challenge - 5</h1>  -->



<!-- Début - Formulaire ------------------------------------------------------------------------------------ --> 
<form [formGroup]="registrationForm" class="mt-1">
<!-- ------------------------------------------------------------------------------------------------------- --> 
  

  <!-- Début - Nom -->
  <div class="form-group">
    <label>Nom</label>
    <input formControlName="nom" type="text" class="form-control">
  </div>
  <div *ngIf="registrationForm.get('nom')?.errors && registrationForm.get('nom').touched">
    <small class="text-danger" *ngIf="registrationForm.get('nom').errors?.required">Le nom est obligatoir !</small>
  </div>
  <!-- Fin - Nom -->



  <!-- Début - Prenom -->
  <div class="form-group">
    <label>Prenom</label>
    <input formControlName="prenom" type="text" class="form-control">
  </div>
  <div *ngIf="registrationForm.get('prenom')?.errors && registrationForm.get('prenom').touched">
    <small class="text-danger" *ngIf="registrationForm.get('prenom').errors?.required">Le prenom est ibligatoir !</small>
  </div>
  <!-- Fin - Prenom -->



  <!-- Début - Phone -->
  <div class="form-group">
    <label>Phone</label>
    <input formControlName="phone" type="number" class="form-control">
  </div>
  <div *ngIf="registrationForm.get('phone')?.errors && registrationForm.get('phone').touched">
    <small class="text-danger" *ngIf="registrationForm.get('phone')?.errors.required">Le téléphone est obligatoir !</small>
  </div>
  <!-- Fin - Phone -->



  <!-- Début - Email -->
  <div class="form-group">
    <label>Email</label>
    <input formControlName="email" type="email" class="form-control">
  </div>
  <div *ngIf="registrationForm.get('email')?.errors && registrationForm.get('email').touched">
    <small class="text-danger" *ngIf="registrationForm.get('email')?.errors.required">L'email est obligatoir !</small>
    <small class="text-danger" *ngIf="registrationForm.get('email')?.errors.email">Format e-mail invalide !</small>
  </div>
  <!-- Fin - Email -->




          <!-- Début - FormGroup Adresse--> <!-- ----------------------------------------------------- -->  

          <div formGroupName="adresse">

                  <!-- Début - Numéro -->
                  <div class="form-group">
                    <label>Numéro</label>
                    <input formControlName="numero" type="number" class="form-control">
                  </div>
                  <!-- Fin - Numéro -->



                  <!-- Début - Rue -->
                  <div class="form-group">
                    <label>Rue</label>
                    <input formControlName="rue" type="text" class="form-control">
                  </div>
                  <!-- Fin - Rue -->



                  <!-- Début - Ville -->
                  <div class="form-group">
                    <label>Ville</label>
                    <input formControlName="ville" type="text" class="form-control">
                  </div>
                  <!-- Fin - Ville -->



                  <!-- Début - Gouvernorat -->
                  <div class="form-group">
                    <label>Gouvernorat</label>
                    <input formControlName="gouvernorat" type="text" class="form-control">
                  </div>
                  <!-- Fin - Gouvernorat -->



                  <!-- Début - Pays -->
                  <div class="form-group">
                    <label>Pays</label>
                    <input formControlName="pays" type="text" class="form-control">
                  </div>
                  <!-- Fin - Pays -->



                  <!-- Début - Code Postal -->
                  <div class="form-group">
                    <label>Code postal</label>
                    <input formControlName="codePostal" type="number" class="form-control">
                  </div>
                  <!-- Fin - Code Postal -->

                  

          </div> <!-- Fin - div FormGroup -->

          <!-- Fin   - FormGroup Adresse--> <!-- ----------------------------------------------------- -->

  <!-- Début - Mot de passe -->
  <div class="form-group">
    <label>Mot de passe</label>
    <input formControlName="password" type="password" class="form-control">
  </div>
  <div *ngIf="registrationForm.get('password')?.errors && registrationForm.get('password').touched">
    <div class="text-danger" *ngIf="registrationForm.get('password')?.errors.required">Le mot de passe est obligatoir !</div>
    <div class="text-danger" *ngIf="registrationForm.get('password')?.errors.pattern">Format invalide</div>
  </div>
  <!-- Fin - Mot de passe -->

  <!-- Début - ConfirmationMot de passe -->
  <div class="form-group">
    <label>Confirmation mot de passe</label>
    <input formControlName="confirmPassword" type="password" class="form-control">
  </div>
  <div *ngIf="registrationForm.errors && registrationForm.get('confirmPassword').touched">
    <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Le mot de passe n'est Conforme</small>
  </div>
  <!-- Fin - Confirmation Mot de passe -->

  <!-- Début - Skills -->
  <div class="form-group">
      <label>Skills</label> 
      <button class="btn btn-primary btn-sm m-2" (click)="addSkills()">+ Skills</button>
      <input formControlName="skills" type="text" class="form-control">
      <div formArrayName="add_skills" *ngFor="let key of add_skills.controls; let i=index">
        <div class="row">
          <div class="col-10">
            <input [formControlName]="i" type="text" class="form-control mt-2">
          </div>
          <div class="col-2">
            <button class="btn btn-danger mt-2" type="button" (click)="suppSkills(i)">Supprimer</button>
          </div>
        </div>
      </div>
  </div>

  <div *ngIf="registrationForm.get('skills')?.errors && registrationForm.get('skills').touched">
    <small class="text-danger" *ngIf="registrationForm.get('skills')?.errors.required">Il faut déclarer au moins un skill !</small>
  </div>
  <!-- Fin - Skills -->

  <!-- Début - Expérience Pro -->
  <div class="form-group">
      <label>Expérience professionnelle</label>
      <button class="btn btn-primary btn-sm m-2" (click)="addExpPro()">+ Expérience Professionnelle</button>
      <input formControlName="exp_pro" type="text" class="form-control">
      <div formArrayName="add_exp_pro" *ngFor="let key of add_exp_pro.controls; let i=index">
        <div class="row">
          <div class="col-10">
            <input [formControlName]="i" type="text" class="form-control mt-2">
          </div>
          <div class="col-2">
            <button class="btn btn-danger mt-2" type="button" (click)="suppExpPro(i)">Supprimer</button>
          </div>
        </div>
      </div>


  </div>

  <div *ngIf="registrationForm.get('exp_pro')?.errors && registrationForm.get('exp_pro').touched">
    <small class="text-danger" *ngIf="registrationForm.get('exp_pro')?.errors.required">Il faut déclarer au moins une expérience professionnelle !</small>
  </div>
  <!-- Fin - Expérience Pro -->

  <!-- Début - Bouton -->
  <button class="btn btn-success" type="submit" (click)="valider()">Valider</button>
  <!-- Fin   - Bouton -->

<!-- Fin - Formulaire ------------------------------------------------------------------------------------ --> 
</form>
<!-- ----------------------------------------------------------------------------------------------------- --> 
  </div> <!-- Fin - Bloc I -->


  <div class="col-7"> <!-- Début - Bloc II -->
    
    <table class="table table-dark table-striped mt-1">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Skills</th>
          <th>Expérience professionnelle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of tab_2">
          <td>{{key.nom}}</td>
          <td>{{key.prenom}}</td>
          <td>{{key.email}}</td>
          <td>{{key.skills}}</td>
          <td>{{key.add_skills}}</td>
        </tr>
      </tbody>
    </table>
  
  </div> <!-- Fin - Bloc II -->
</div> <!-- Fin -  Main row -->
</div> <!-- Fin - div container -->